<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Usound</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Built by Musicians, Driven by Listeners">
  <meta name="author" content="Logan Head">
  <!-- Le styles -->
  {% assets 'css_main' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
</head>
<body>
<header>
  <nav>
    <div class="nav">
      <div class="nav-wrapper">
         <div class="logo">
            <a href="/">
              Usound
            </a>
         </div>
      </div>
    </div>
  </nav>
</header>
<div id="main-wrapper">
  <div class="container">
    <div class="intro-text">
      <h1>Usound</h1>
      <p class="lead">Built By Musicians & Driven By Listeners</p>
    </div>
  </div>
</div>
<!-- /.container -->
</body>
</html>
